* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "codec";
    src: url("style/CodecPro-Regular.ttf");
    font-size: 10px;
}

@font-face {
    font-family: "grrr1";
    src: url("style/Grrr-Semibold.otf");
    font-size: 35px;
}

@font-face {
    font-family: "grrr2";
    src: url("style/Grrr-Regular.otf");
    font-size: 35px;
}

a {
    font-family: "grrr2";
    text-decoration: none;
}

body {
    /*overflow: hidden;*/
    background-color: #dceef2;

}

iframe {
    border: none;
    width: 100%;
    height: 100vh;
    background-color: black;
}

header {
    height: 5vh;
    display: flexbox;
    background: linear-gradient(to right, #fcff7a, #73ef30, #fcff7a);
    text-align: center;
}

.caja_iframe {
    display: flex;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 10px;
}

#pag_inicio {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url("img/fondo_in.jpeg");
    gap: 20px;
}

#caja_h1 {
    justify-content: flex-end;
    position: relative;
    width: 520px;
    height: 130px;
}

h1 {
    color: #2b70e4;
    position: absolute;
    font-family: "grrr1";
    letter-spacing: 2px;
}

#img_h1 {
    margin: 0px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
}

.derecha {
    text-align: right;
}

p.derecha {
    width: 60vw;

}

p {
    font-family: "codec";
    line-height: 1.2;
}

.txt_in {
    height: 160px;
}


#pag_gestion {
    background-image: url("img/fondo_ges.png");
    height: 100vh;
    padding: 20px;
}

h2 {
    color: #2b70e4;
    font-family: "grrr1";
    letter-spacing: 2px;
    font-size: 35px;
    position: absolute;
    right: 10px;
}

h3 {
    color: #1800ad;
    font-family: "grrr2";
    letter-spacing: 2px;
    font-size: 25px;
    position: absolute;
    right: 10px;
}

h4 {
    color: #1800ad;
    font-family: "codec";
    font-size: 18px;
    letter-spacing: 1px;
}

#h2_ges {
    width: 490px;

}

#opcion_ges {
    top: 200px;
}

.op_ges {
    position: absolute;
    font-size: 30px;

}

#op_ges1 {
    left: 340px;
    top: 155px;
}

#op_ges2 {
    left: 120px;
    top: 307px;
}

#op_ges3 {
    left: 260px;
    top: 455px;
}

#img_op_ges {
    position: absolute;
    top: 130px;
}

#robot2 {
    position: absolute;
    top: 230px;
    left: 750px;
}

#pag_proc {
    background-image: url("img/fondo_proc.png");
}

#h2_proc {
    position: absolute;
    left: 30px;
    top: 40px;
    width: 400px;
}

#op_proc1 {
    left: 340px;
    top: 155px;
}

#pag_gest_fund {
    background-color: #dceef2;
    display: flex;
    flex-direction: column;
    /* apila en columna */
    height: 300px;
    /* altura de ejemplo */
}

#h3_fund {
    position: absolute;
    left: 20px;
    top: 100px;
}

#sec_fund {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    top: 280px;
    width: 70vw;
}

#txt_fun {
    position: absolute;
    top: 180px;
    width: 90vw;
}

#caja_estandares {
    position: absolute;
    bottom: 0;
    right: 0;
}

#img_h3 {
    position: absolute;
    top: 90px;
}

#h3_tecnic {
    position: absolute;
    top: 125px;
    left: 64px;

}

#txt_tecnic1 {
    position: absolute;
    top: 200px;
    width: 90vw;
    left: 40px;
}

#txt_tecnic2 {
    position: absolute;
    top: 430px;
    left: 110px;
    width: 920px;

}

#img_tecnic {
    position: absolute;
    top: 350px;
    left: 40px;
}

#img_robot1 {
    position: absolute;
    bottom: 80px;
    right: 50px;
}

#h3_herra {
    position: absolute;
    top: 130px;
    left: 76px;
}

#img_h3_herra {
    position: absolute;
    top: 100px;
    left: 30px;
}

#txt_herra1 {
    position: absolute;
    left: 50px;
    top: 200px;
    width: 90vw;
}

#img_robot_herra {
    position: absolute;
    left: 40px;
    top: 270px;
}

#txt_herra2 {
    position: absolute;
    left: 300px;
    top: 320px;
    width: 70vw;

}

#img_fondo_herra {
    position: absolute;
    right: 30px;
    top: 220px;
}

.h2_proc {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 600px;
}

.h3_proc {
    position: absolute;
    top: 155px;
    left: 75px;
    width: 700px;
}

#fondo_ciclo {
    position: absolute;
    top: 110px;
    left: 20px;
}

#robot3 {
    position: absolute;
    top: 35px;
    right: 40px;
}

#txt_ciclo1 {
    position: absolute;
    top: 235px;
    left: 40px;
}

#img_ciclo {
    position: absolute;
    top: 280px;
    left: 40px;
}

#txt_ciclo2 {
    position: absolute;
    top: 370px;
    left: 90px;
    width: 950px;
}

#fondo_mod {
    position: absolute;
    top: 125px;
    left: 28px;
}

#txt_data_mod {
    position: absolute;
    margin-top: -60px;
    left: 40px;
    width: 80vw;
}

.caja_mod {
    display: grid;
    grid-template-columns: 450px 500px;
    padding: 40px;
    margin: 45px;
    border-radius: 30px;
    margin-top: 80px;
}

.img_mod {
    margin-left: 250px;
    right: 20px;
}

#mod1 {
    margin-top: 300px;
}

#fondo_txt_mod {
    position: absolute;
    margin-left: 20px;
    margin-bottom: 0px;
}

#fin_mod {
    position: absolute;
    margin-left: 55px;
    width: 350px;
}

#h2_rec {
    margin-top: 10px;
    width: 530px;
}

#op_rec1 {
    top: 160px;
    left: 370px;
}

#op_rec2 {
    top: 300px;
    left: 80px;
}

#op_rec3 {
    top: 340px;
    left: 450px;
}

#op_rec4 {
    top: 465px;
    left: 205px;
}

#pag_gestion {
    background-image: url("img/fondo_ges.png");
    height: 100vh;
    padding: 20px;
}